@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Medium'), local('Circular-Std-Medium'),
    url('../../public/global/Font/CircularStd-Medium.woff2') format('woff2'),
    url('../../public/global/Font/CircularStd-Medium.woff') format('woff'),
    url('../../public/global/Font/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Circular Std', sans-serif;
}

text {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;

}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}